* {box-sizing: border-box;}

body {
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif; 
}

h1, h2, h3 {
    font-family: 'Patua One', serif;
}

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px 0;
}

.page > * {
    border: 1px solid #708090;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    background: #708090;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:50px;
    margin-top: 25px;
    background: #708090;
}

.header-content, .footer-content  {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.language {
    float: right;
}

.contact {
    text-align: center;  
}

.name {
  grid-area: grid-name;
}
.main-content {
  grid-area: grid-main;
}
.side-content {
  grid-area: grid-side;
}

.page {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "grid-name"
    "grid-main"
    "grid-side"   ;
}

@media (min-width: 600px) {
  .page {
    grid-template-columns: 3fr 7fr;
    grid-template-areas: 
      "grid-name    grid-name"
      "grid-side    grid-main";
  }
}


/* Text Styles */

.section-block {
  padding-bottom: 10px;
}

.section-title {
  border-bottom: 3px solid silver;
  height: 30px;
}

.work-experience-title {
  margin-top: 40px;
  margin-bottom: 0px;
}

ul.work-experience-bullets {
  padding-left: 30px
}

h1 {
  font-size: 165%;
  letter-spacing: 2px;
}

h2 {
  font-size: 125%;
  letter-spacing: 2px;
}

h3 { 
  font-size: 95%;
  letter-spacing: 1px;  
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.multi-line-lines, .work-experience-title-lines, .work-experience-subtitle-lines {
    margin: 0;
    padding: 0;
}

.work-experience-subtitle-lines {
  font-size: 90%;
}

p, li {
  line-height: 25px;
  font-size: 95%; 
}

ul {
  padding-left: 17px
}

li:first-child {
  margin-top: 0;
}

li.multi-line-bullets {
  margin-top: 20px;
}

li.single-line-bullets {
  margin-top: 10px;
}

