* {box-sizing: border-box;}

body {
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif; 
}

h1, h2, h3 {
    font-family: 'Patua One', serif;
}

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px 0;
}

.page > * {
    border: 1px solid #708090;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    background: #708090;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:50px;
    margin-top: 25px;
    background: #708090;
}

.header-content, .footer-content  {
    width: 97.5%;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.language {
    float: right;
}

.contact {
    text-align: center;  
}

.name {
  grid-area: grid-name;
}
.main-content {
  grid-area: grid-main;
}
.side-content {
  grid-area: grid-side;
}

.page {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "grid-name"
    "grid-main"
    "grid-side"   ;
}

@media (min-width: 600px) {
  .page {
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 
      "grid-name    grid-name"
      "grid-side    grid-main";
  }
}
